<div id="top-bar" role="navigation" aria-label="Agency for Healthcare Research and Quality Header">
  <div class="topbar">
    <div class="ahrq">
      <div class="usa-banner usa-banner-bg">
        <div class="usa-accordion usa-accordion-text-color">
          <header class="usa-banner__header">
            <div class="row no-gutters row-mobile-offset row-tweak">
              <div class="col-xs-auto col-md-auto col-md-offset-0p5 img-icon">
                <%= image_tag("us_flag_small.png", alt: "U.S. flag", class: "usa-banner__header-flag usa-banner-flag-tweak") %>
              </div>
              <div class="col-sm-auto col-lg-auto banner-hhs img-icon">
                <%= image_tag("logo-HHSmini.png", alt: "Health and Human Services Logo", class: "usa-banner__header-flag usa-banner-logo-tweak") %>
              </div>
              <div class="col-xs-8 col-md-8 txt-gov-banner div-col-tweak">
                <p class="usa-banner__header-text">
                  <a href="https://www.hhs.gov/">An official website of the Department of Health &amp; Human Services</a>
                </p>
              </div>
            </div>
          </header>
        </div>
      </div>
      <div role="main" class="container-fluid js-quickedit-main-content">
        <div class="row row-tweak">
          <header id="primary-header" class="header row-side-margins mobile-row-side-margins" role="heading" aria-level="1">
            <div class="col-md-12">
              <div class="primary-header-wrapper">
                <div class="row row-tweak">
                  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 div-col-tweak">
                    <div class="logo-ahrq">
                      <a href="https://www.ahrq.gov">
                        <%= image_tag("logo-ahrq.png", alt: "AHRQ: Agency for Healthcare Research and Quality") %>
                      </a>
                    </div>
                  </div>
                  <div class="d-xs-none d-sm-none d-md-none d-lg-block col-lg-9 d-xl-block col-xl-9">
                    <div id="utility-nav">
                      <ul class="clearfix">
                        <li class="first">
                          <a href="https://search.ahrq.gov/" target="_blank" rel="noreferrer">Search All AHRQ Sites</a>
                        </li>
                        <li>
                          <a href="https://www.ahrq.gov/cpi/about/careers/index.html" target="_blank" rel="noreferrer">Careers</a>
                        </li>
                        <li>
                          <a href="https://www.ahrq.gov/contact/index.html" target="_blank" rel="noreferrer">Contact Us</a>
                        </li>
                        <li>
                          <a href="https://www.ahrq.gov/topics/informacion-en-espanol/index.html" target="_blank" rel="noreferrer">Español</a>
                        </li>
                        <li class="last">
                          <a href="https://info.ahrq.gov/" target="_blank" rel="noreferrer">FAQs</a>
                        </li>
                        <li>
                          <a href="https://subscriptions.ahrq.gov/accounts/USAHRQ/subscriber/new" target="_blank" rel="noreferrer">
                            <%= image_tag("envelope-regular.png", alt: "envelope icon", class: "utility-envelope", width: "18", height: "18") %>
                            Email Updates</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </header>
        </div>
      </div>
    </div>
  </div>
</div>
<section>
  <div id="header" role="navigation" aria-label="Clinical Decision Support Header">
    <header class="header">
      <div class="header__banner row">
        <a href="../" class="btn btn-link nav-button-custom" title="CEDAR Home">
          <span class="glyphicon glyphicon-link"></span> CEDAR Home
        </a>
        <div class="header__banner-text">
          <a href="https://cds.ahrq.gov/">
            <div class="header__banner-text-top">
              Patient-Centered Outcomes Research
            </div>
            <div class="header__banner-text-middle">
              CEDAR Statistics
            </div>
            <div class="header__banner-text-bottom">
              Accelerating Evidence into Practice through CDS
            </div>
          </a>
        </div>
      </div>
    </header>
  </div>
</section>
