<div class="row mt-5">
  <div class="col-sm">
    <h3><%= title %></h3>
    <table class="table">
      <tbody>
        <% data.each do |concept, count| %>
          <% if defined?(path_method) %>
            <% concept = link_to concept, send(path_method, concept) %>
          <% end %>
          <% count_term ||= 'artifact' %>
          <tr><td style="width: 50%"><%= concept %></td><td><%= pluralize(count, count_term) %></td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm">
    <%= pie_chart data.map { |k, v| [k.to_s, v] } %>
  </div>
</div>
