/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'ahrq/_ahrq.scss';
@import 'ahrq/_ahrq-uswds2.0.scss';
@import 'ahrq/_ahrq-global.scss';
@import 'ahrq/_region.scss';
@import 'ahrq/_search.scss';
@import 'ahrq/_buttons.scss';
@import 'ahrq/_header.scss';
@import 'ahrq/_normalize.scss';
@import 'ahrq/_navbar.scss';
@import 'ahrq/_navigation.scss';
@import 'ahrq/_footer.scss';
@import 'ahrq/_glyphicons.scss';
@import 'ahrq/_ahrq_style_overrides.scss';
@import 'home.scss';

.hidden {
  display: none;
}

.a11y-nav {
  position: absolute;
  opacity: 0%;
  width: 100%;
  z-index: 1000;
}

.bare-list {
  list-style-type:none;
  padding-left: 0
}

.list-horizontal li {
  display: inline-block;
}
.list-horizontal li:first-child:before {
  content: '';
}

.float-heading {
  float: left;
  font-size: x-large;
}

.show-raw-json {
    cursor: pointer;
}

#tag-cloud {
  height: 1200px;
  width: 1200px;
  display:block;
  overflow: hidden;
}

.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top {
  margin: 0 auto !important;
  width: 1170px;
}

.subnav-wrapper {
  background-color: #f8f9fa;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.btn-primary {
  background-color: #224DBA !important;
}

.import-run-summaries {
  font-weight: 700;
}

.navbar-nav {
  flex-direction: row !important;
}