// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  margin: 0 30px;
}

.mt-10 {
  margin-top: 140px !important;
}

.page-item.active .page-link {
  background-color: #224DBA !important;
  color: white !important;
  border-color: #224DBA !important;
}

// Accessibility Tweaks & Overrides

// Color contrast checking: https://webaim.org/resources/contrastchecker/
// must have contrast ratio >=4.5:1
.btn-primary {
  background-color: #224DBA !important;
  border-color: #224DBA !important;
}
#main-content a:not(.navbar-brand, .btn, .page-link) {
  color: #224DBA !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.55)  !important;
  &:hover {
    color: rgba(255, 255, 255, 0.75) !important;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.55) !important;
  &:hover {
    color: rgba(0, 0, 0, 0.75) !important;
  }
}
.diff li.ins, ins {
  color: #007A00;
}

